.innerImg {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 60px;
}

.innerText {
    padding: 0 270px;
    width: 100%;
}

.innerText h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-top: 20px;
}

.innerText p {
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-bottom: 30px;
}

.innerText h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 40px;
}

.header-member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.header-member h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #394149;
    opacity: 0.87;
    margin: 0;
}

.inner {
    padding: 100px;
}