   /* First Section */
.firstSection {
  width: 100%;
  background: #dceaf5;
  height:703px;
  margin-top: 0;
}

.firstSection .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.box {
  width: 45%;
}
.flex {display: flex;
  flex-direction: column;
  height: 42%;
  justify-content: space-around;}

.box h2 {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.03em;
  font-weight: 600;
  color: #1D3444;
}

.box p {
  line-height: 30px;
  color: rgba(91, 91, 91, 1);
}

.firstButton {
  background: #f58a07;
  border-radius: 27px;
  width: 199px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstButton a {
  color: white;
  font-weight: 600;
}

.secondButton {
  width: 199px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondButton a {
  font-weight: 600px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 364px;
  margin-bottom: 50px;
}

.logos p {
  font-weight: 400;
  margin-bottom: 20px;
  color: #394149;
  opacity: 0.5;
}

.logos img {
  width: 30%;
  padding: 10px;
}

.imgWrapper {
  width: 50%;
  height: 615px;
  align-self: flex-end;
}

.imgWrapper img {
  width: 110%;
}
/* Help Section  */
.helpSection h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  width: 49%;
}

.helpSection p {
  line-height: 30px;
  color: #5b5b5b;
  width: 49%;
}

.helpSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.helpPosts {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.helpSection .helpPosts article {
  width: 32%;
}

.helpSection .helpPosts img {
  border-radius: 20px;
  width: 100%;
}

.helpSection h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: rgba(29, 52, 68, 1);
  width: 50%;
}

.helpSection a {
  font-weight: 500;
  line-height: 17px;
  color: #f58a07;
}

.helpSection a::after {
  content: "\2192";
  margin-left: 10px;
}

.helpSection .container p {
  line-height: 30px;
  color: #5b5b5b;
  width: 60%;
  margin-bottom: 60px;
  margin-top: 30px;
}

.helpSection .container .helpPosts article p {
  line-height: 28px;
  color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 24px;
  width: 100%;
}

.helpSection h3 {
  font-size: 1.5rem;
  line-height: 25.56px;
  letter-spacing: -0.03em;
  margin-top: 33px;
  margin-bottom: 17px;
}

.button2 {
  margin-bottom: 80px;
}
/* Feature Section  */
.sectionTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.featuresSection {
  background: #edf7ff;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
}

.sectionTitle h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.03em;
  width: 47%;
  padding-bottom: 80px;
}

.sectionTitle p {
  line-height: 30px;
  width: 50%;
}

.sectionTitle h2,
p {
  margin-top: 0;
}

.cardBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cardBox article {
  background-color: white;
  width: 30%;
  border-radius: 20px;
  padding: 33px;
}

.cardBox h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.cardBox p {
  font-size: 16px;
  line-height: 28px;
}
/* About Section  */
.sectionTitle2 {
  width: 48%;
}

.sectionTitle2 h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
}

.sectionTitle2 p {
  font-size: 18px;
  line-height: 30px;
  color: #5b5b5b;
}

.aboutText article {
  width: 45%;
}

.aboutText h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: #f58a07;
  margin-top: 0;
}

.aboutText h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.aboutText p {
  font-size: 16px;
  line-height: 28px;
  color: #5b5b5b;
}

.aboutImage {
  width: 48%;
  background: url(../images/about-image.png);
  border-radius: 20px;
}

.aboutSection .container {
  display: flex;
  justify-content: space-between;
}

.aboutText {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.aboutSection {
  padding-top: 100px 0;
}

.mix {
  background: #f58a07;
  mix-blend-mode: multiply;
  width: 153px;
  height: 670px;
  border-radius: 20px 0 0 20px;
}
/* Service Section  */
.serviceTabs {
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
}

.tab1 {
  color: #f58a07;
  background: white;
  border: solid white 1px;
  border-radius: 31px;
  padding: 8px 24px;
}

.tab2 {
  color: rgba(6, 50, 85, .3);
  font-weight: 600;
  line-height: 24px;
  border: solid rgba(168, 188, 204, 1) 1px;
  border-radius: 31px;
  padding: 8px 24px;
}

.serviceSection .container {
  position: relative;
  background-color: #edf7ff;
  border-radius: 20px;
  padding: 48px;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.serviceSection .ribbon {
  position: absolute;
  top: -15px;
  right: -15px;
}

.serviceText h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  margin-top: 0;
}

.serviceText p {
  line-height: 30px;
  color: #5b5b5b;
  width: 100%;
}

.button3 a {
  color: #f58a07;
  font-weight: 500;
  font-size: 16px;
}

.button3 a::after {
  content: "\2192";
  margin-left: 10px;
}

.serviceSection article {
  width: 44%;
}

.serviceSection .serviceImage {
  width: 45%;
  background: url(../images/team.png);
  background-repeat: no-repeat;
}

.serviceSection .container .serviceText {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mix2 {
  background: #f58a07;
  mix-blend-mode: multiply;
  width: 120px;
  height: 466px;
  border-radius: 20px 0 0 20px;
}
/* Cta Section  */
.ctaSection {
  display: flex;
  height: 518px;
}

.ctaImage {
  width: 100%;
  background: url(../images/experience-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.ctaText {
  width: 80%;
  background: #f58a07;
  padding: 118px;
  justify-content: center;
  align-items: center;
}

.ctaText h2 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  width: 100%;
}

.button4 {
  background-color: white;
  border-radius: 31px;
  padding: 13px 26px;
  align-self: flex-start;
}

.button4 a {
  color: #f58a07;

}
/* Video Section  */
.videoSection .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.videoContent {
  width: 43%;
}

.videoContent h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
}

.videoContent p {
  font-size: 18px;
  line-height: 30px;
  color: #5b5b5b;
}

.circleProfile {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.videoText h3 {
  font-size: 24px;
  font-weight: 500;
  color: #063255;
  margin: 0;
}

.videoText p {
  font-size: 18px;
  color: #f58a07;
}

/* .videoText {width: 60%;} */
.videoImage {
  width: 48%;
  border-radius: 20px;
  display: flex;
  align-items: end;
  height: 500px;
  background: url(../images/video-image.png);
  padding: 30px;
}

.playButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}

.playButton h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 101.8%;
  color: #FFFFFF;
  /* margin-left: 0; */
}

.icon {
  background-color: white;
  width: 51px;
  height: 51px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 30px; */
}
/* Lastest Section  */
.latestSection {
  background: #edf7ff;
  padding: 90px 0;
}

.latestSection h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  margin: 0 0 60px 0;
}

.articles {
  display: flex;
  justify-content: space-between;
}

.articles article {
  border: none;
  border-radius: 20px;
  background-color: white;
  width: 31%;
}

.articles article img {
  border-radius: 20px 20px 0 0;
}

.blog {
  padding: 32px;
}

.blog h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.blog p {
  font-size: 16px;
  line-height: 28px;
  color: #5b5b5b;
}

.blog a {
  color: #f58a07;
  font-size: 16px;
}

.blog a::after {
  content: "\2192";
  margin-left: 10px;
}